@font-face {
    font-family: "Dekar";
    src: url('../fonts/dekar/Dekar Light.otf'),
    url('../fonts/dekar/Dekar.otf');
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7,.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-12, .col-xs-11,
.container-fluid, .container
{
/*border: 1px solid white;*/
}

html, body {
	height: 100%;
}

body {
	color: white;
	font-family: "Dekar", "Helvetica";
}

.header-1 {
    height: 10%;
}

.logo {
	display: block;
	margin: 2% auto 0 auto; 
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #240024;
}

.splash {
    width: 200px;
    display: block;
	margin: 30% auto 0 auto;  
}
 
/* fonts ----------------------------------------- */

.f-green {
    font-size: 18px;
    color: #28816a;
    padding-left: 3%;
}

.f-green:active {
    color: #aaf0de;
}

/* titulo principal */
.f1 { 
	font-size: 44px;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

/* nome receita */
.f2 {
	font-size: 20px;
    padding-left: 2%;
    display: inline;
}
.f2-off {
    color: #7CD7F7; 
    font-size: 20px;
    padding-left: 2%;
    display: inline;
}

/* titulo resumo */
.f3 {
    font-size: 30px;
    display: inline;
    padding-left: 2%;

}

.f4 {
    font-size: 20px;
}

/* icons ----------------------------------------- */

/* home icones vai vem */
.ic-1 {
	width: 9.3%;
}

/* home seta */
.ic-2 {
    padding-top: 2%;
    font-size: 25px;
    color: #3BAFDA;
    width: 10px;
}

.ic-2-off {
    padding-top: 2%;
    font-size: 25px;
    color: #4FC1E9;
}

/* icomoon */
.ic-logo {
    font-size: 430%;
    color: #2A957A;
}

.ic-logo:active {
    color: white;
}

.ic-previous {
    font-size: 20px;
    display: block;
    margin-top: 20%;
}
.ic-close {
    font-size: 18px;
    display: block;
    margin-top: 20%;
}

.ic-next {
    font-size: 30px;
}

.ic-plus {
    font-size: 25px;
}

/* backgrounds ----------------------------------------- */

/* blue */
.back-blue-light {
	background-color: #4FC1E9;  
}
.back-blue-dark {
	background-color: #3BAFDA;
}
.back-blue-light-r {
	background-color: #4FC1E9;
    padding: 2.3%;
    border-bottom: 1px solid #3BAFDA;
}
.back-blue-dark-r {
	background-color: #3BAFDA;
    padding: 2.3%;
    border-bottom: 1px solid #4FC1E9;
}

/* purple */
.back-purple-light {
	background-color: #AC92EC;
}
.back-purple-dark {
	background-color: #967ADC;
}

/* red */
.back-red-light {
	background-color: #ED5565;
}
.back-red-dark {
	background-color: #DA4453;
}

/* green */
.back-green-light {
	background-color: #56E5C1;
}
.back-green-medium {
	background-color: #37BC9B;
}
.back-green-dark{
	background-color: #2A957A;
}

/* orange */
.back-orange-light {
	background-color: #FC6E51;
}
.back-orange-dark {
	background-color: #E9573F;
}

/* yellow */
.back-yellow-light {
	background-color: #FFCE54;
}
.back-yellow-dark {
	background-color: #F6BB42;
}

/* buttons ----------------------------------------- */
.btn-group {
    margin: 0 auto 0 auto; 
}

.btn {
	font-family: "Dekar", "Helvetica";
	font-size: 22px;
	padding: 5% 0 5% 0;
	color: white;
	border: 0;
	border-radius: 0;
}

btn:active, .btn.active {
    -webkit-box-shadow:none;
    background-color: #E6E9ED ;
	color: #434A54;
}

.btn-cal-g {
	font-family: "Dekar", "Helvetica";
	font-size: 22px;
	background-color: #2A957A;
	color: #56E5C1;
	border: 2px solid #37BC9B;
	border-radius: 0;
	width: 40px;
	height: 40px;
	padding: 5px;
    margin-top: 10%;
}

.btn-cal-g:hover {
	background-color: #33806c;
	color: white;
}

.btn-cal-b {
	font-family: "Dekar", "Helvetica";
	font-size: 22px;
	background-color: #2c8baf ;
	color: #7CD7F7 ;
	border:  2px solid #3BAFDA;
	border-radius:0;
	width: 40px;
	height: 40px;
	padding: 5px;
    margin-top: 10%;
}

.btn-cal-b:hover {
	background-color: #246e89;
	color: white;
}

.btn-blue {
	background-color: #4FC1E9;
}

.btn-blue:active {
	background-color: #30A8D2;
}

.btn-purple {
	background-color: #AC92EC;
}

.btn-purple:active {
	background-color: #886EC8;
}

.btn-red {
	background-color: #ED5565;
}

.btn-red:active {
		background-color: #CF404F;

}

.btn-green {
	background-color: #56E5C1;
}

.btn-green:active {
	background-color: #2BAF8E;
}

.btn-orange {
		background-color: #FC6E51;
}

.btn-orange:active {
			background-color: #D84D31;
}

.btn-yellow {
	background-color: #FFCE54;
}

.btn-yellow:active {
	background-color: #E7AE20;
}

/* progress-bar ----------------------------------------- */

.progress-bar {
    border-radius: 0px;
    box-shadow: none;
}

/* purple*/
.bar-purple-light {
	background-color: #AC92EC;
	border: 1px solid #AC92EC;
}
.bar-purple-dark {
	background-color: #967ADC;
	border: 1px solid #AC92EC;
}

/* red */
.bar-red-light {
	background-color: #ED5565;
	border: 1px solid #ED5565;
}
.bar-red-light-1 {
	background-color: #ED5565;
	border-top: 1px solid #ED5565;
	border-right: 1px solid #DA4453;
}
.bar-red-dark {
	background-color: #DA4453;
	border: 1px solid #ED5565;
}

/* green */
.bar-green-light {
	background-color: #56E5C1;
	border: 1px solid #56E5C1;
}
.bar-green-light-1 {
	background-color: #56E5C1;
	border-top: 1px solid #56E5C1;
	border-right: 1px solid #37BC9B;
}
.bar-green-md {
	background-color: #37BC9B;
	border: 1px solid #56E5C1;
}

.bar-orange-light {
	background-color: #FC6E51;
}

.bar-orange-light-1 {
	background-color: #FC6E51;
	border-right: 1px solid #E9573F;
}

.bar-orange-dark {
	background-color: #E9573F;
	border: 1px solid #FC6E51;
}

.bar-yellow-light {
	background-color: #FFCE54;
}

.bar-yellow-light-1 {
	background-color: #FFCE54;
	border-right: 1px solid #F6BB42;
}

/* form-control ----------------------------------------- */

.form-control {
    border: none;
    border-radius: 0;
    color: white;
    font-size: 18px;
}

/* switch ----------------------------------------- */
.row .bootstrap-switch {
    border-color:#42b0d8;
    font-family: "Open Sans";
}

.row .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: white;
  background-color: #9CE5FF;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: #30a8d2 !important;
    color: #4fc1e9 !important;
}

.row .bootstrap-switch .bootstrap-switch-label {
    background-color: #4FC1E9;
}
