<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Resumo</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/icomoon.css" rel="stylesheet">
    
    </head>
    
    <body style="background-color:#3BAFDA">
      
<!--header-->
        <div class="header navbar-top" align="center">  
            <div class="row">                
                <div class="col-xs-3">
                    <a class="icon-previous ic-previous" href="home.html"></a>
                </div>               
                <div class="col-xs-6">                  
                    <img src="../img/VaiVem_logo.svg" class="logo"></img>
                </div>           
                <div class="col-xs-3" align="center">
                    <a class="ic-close" href="quem.html">Editar</a>
                </div>
            </div>
        </div>
    
<!-- conteudo -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="../img/vem_on.png" width="10%" ></img>
                    <h3 class="f3"> Exemplo </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-left">
                    <h3 class="f4">Notificar: Daniel</h3>
                    <h3 class="f4">Mensagem: Cheguei no IED! </h3>
                </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="../img/mapa.png"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-cal-b">
                            <input type="checkbox" autocomplete="off" checked>S
                        </label>
                        <label class="btn btn-cal-b active">
                            <input type="checkbox" autocomplete="off" checked>T
                        </label>
                        <label class="btn btn-cal-b">
                            <input type="checkbox" autocomplete="off" checked>Q
                        </label>
                        <label class="btn btn-cal-b active">
                            <input type="checkbox" autocomplete="off" checked>Q
                        </label>
                        <label class="btn btn-cal-b">
                            <input type="checkbox" autocomplete="off" checked>S
                        </label>
                        <label class="btn btn-cal-b">
                            <input type="checkbox" autocomplete="off" checked>S
                        </label>
                        <label class="btn btn-cal-b">
                            <input type="checkbox" autocomplete="off" checked>D
                        </label>
                    </div>    
                </div>
            </div>

<!--        usar toogle e highlight jquery-->
            
        </div> <!-- fim do container-->

<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <a class="btn btn-blue btn-lg btn-block" style="margin-bottom:1px" data-title="Delete" data-toggle="modal" data-target="#delete" href="#"> Apagar
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content back-blue-light">
                            <div class="modal-header back-blue-dark">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close ic-close" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Apagar receita </h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert"> Tem certeza que deseja apagar? </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="button" class="btn btn-green" >Sim</button>
                                <button type="button" class="btn btn-red" data-dismiss="modal"> Cancelar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    
    </body>
  </html>