<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Home</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="../css/icomoon.css" rel="stylesheet">
    
    </head>
    
    <body style="background-color:#3BAFDA">
      
<!--logo -->
        <div class="header-1 back-blue-dark">        
            <img src="../img/VaiVem_logo.svg" class="logo"></img>           
        </div>
    
<!-- conteudo -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 back-blue-light-r">        
                    <img class="ic-1" src="../img/vai_on.png" ></img>
                    <p class="f2"> Titulo </p>
                
                </div>
            </div>
        </div> <!-- fim do container-->
<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <a class="btn btn-blue btn-block" href="quem.html">
                <span class="icon-plus ic-plus"></span>
            </a>
        </div>

<!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-switch.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/switch.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    
    </body>
  </html>