<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Home</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/icomoon.css" rel="stylesheet">
    <link href="../css/bootstrap-switch.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    </head>
    
    <body style="background-color:#3BAFDA">
      
<!--header-->
        <div class="header navbar-top" align="center">  
            <div class="row">                             
                <div class="col-xs-6 col-xs-offset-3">                  
                    <img src="../img/VaiVem_logo.svg" class="logo"></img>
                </div> 
            </div>
        </div>
    
<!-- conteudo -->
        <div class="container">
            <div class="row back-blue-light-r">
                <div class="col-xs-8">
                    <img class="ic-1" src="../img/vai_on.png" ></img>
                    <p class="f2"> Titulo </p>
                </div>
                <div class="col-xs-4">        
                        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-switch-onColor bootstrap-switch-animate bootstrap-switch-off">
                            <div class="bootstrap-switch-container">
                                <input id="switch-onColor" type="checkbox" checked="" data-on-color="info">
                            </div>
                        </div>
        </div>
            </div>
        </div> <!-- fim do container-->
<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <a class="btn btn-blue btn-block" href="quem.html">
                <span class="icon-plus ic-plus"></span>
            </a>
        </div>

<!-- scripts -->
  	<script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>     
    <script src="../js/highlight.js"></script>
    <script src="../js/bootstrap-switch.min.js"></script>
    <script src="../js/main.js"></script>
    
    </body>
  </html>