<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VV Home</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    
    </head>
    
    <body>
      
        <div class="container">
    
<!--logo -->
            <div class="row back-blue-dark">        
                <div class="col-xs-12">
                    <a class="logo">
                    <object data="VaiVem_logo.svg" type="image/svg+xml">
                    <img src="../img/VaiVem_logo.svg"></img>
                    </object>
                    </a>          
                </div>
            </div>

<!-- conteudo -->
        <div class="row back-blue-light">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_on.png" ></img>
                <p class="f2"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2"></span>
            </div>
        </div>
    
        <div class="row back-blue-light">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vem_on.png" ></img>
                <p class="f2"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2"></span>
            </div>
        </div>

        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
        <div class="row back-blue-dark">        
            <div class="col-xs-11">
                <img class="ic-1" src="../img/vai_off.png" ></img>
                <p class="f2-off"> Titulo </p>
            </div>
            <div class="row col-xs-1.col-xs-offset-11 ">
            <span class="glyphicon glyphicon-menu-right ic-2-off"></span>
            </div>
        </div>
<!-- footer -->

<button type="button" class="btn btn-blue btn-lg btn-block">
    <span class="glyphicon glyphicon-plus ic-3"></span>
</button>

</div>
<!-- fim do container-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    
    </body>
  </html>