<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Mensagem</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    
    </head>
    
    <body style="background-color:#E9573F">
      
<!--logo -->
        <div class="header navbar-top">  
            <div class="col-xs-3" align="left">
            <span class="glyphicon glyphicon-menu-left ic-top"></span>
            </div>
            
            <div class="col-xs-6">                  
                <a><object data="VaiVem_logo.svg" type="image/svg+xml">
                <img src="../img/VaiVem_logo.svg" class="logo"></img>
                </object></a>          
            </div>
        
            <div class="col-xs-3" align="right">
                <span class="glyphicon glyphicon-remove ic-top"></span>
            </div>
        </div>
    
<!-- conteudo -->
        <div class="container-fluid">
            <div class="col-xs-12">
            <p class="f1">MENSAGEM</p>
            
            </div>
        </div> <!-- fim do container-->

<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <div class="progress">
                <div class="progress-bar bar-orange-light-1" style="width: 20%;"></div>
                <div class="progress-bar bar-orange-light-1" style="width: 20%;"></div>
                <div class="progress-bar bar-orange-light-1" style="width: 20%;"></div>
                <div class="progress-bar bar-orange-light" style="width: 20%;"></div>
                <div class="progress-bar bar-orange-dark" style="width: 20%;"></div>
            </div>
        </div>
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    
    </body>
  </html>