<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Resumo</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/icomoon.css" rel="stylesheet">
    
    </head>
    
    <body style="background-color:#3BAFDA">
      
<!--logo -->
        <div class="header navbar-top">  
            <div class="col-xs-3" align="left">
                <a class="icon-previous ic-previous" href="onde.html"></a>
            </div>
<!--icone previous -->            
            <div class="col-xs-6">                  
                <object data="VaiVem_logo.svg" type="image/svg+xml">
                <img src="../img/VaiVem_logo.svg" class="logo"></img>
                </object>        
            </div>
<!--icone close -->
            <div class="col-xs-3" align="right">
                <a class="ic-close" href="quem.html">Editar</a>
            </div>
        </div>
    
<!-- conteudo -->
        <div class="container-fluid">
            <div class="col-xs-12" style="text-align: center">
                <img src="../img/vem_on.png" width="10%" ></img>
                <h3 class="f3"> Titulo </h3>
            </div>
            <div class="col-xs-12" style="text-align: center; margin-top:10%">
                <h3>Notificar: nome da pessoa</h3>
                <img src="../img/mapa.png"></img>
            </div>
            <div class="col-xs-12" style="text-align: center">
                <button class="btn-cal-b">S</button>
                <button class="btn-cal-b">T</button>
                <button class="btn-cal-b">Q</button>
                <button class="btn-cal-b">Q</button>
                <button class="btn-cal-b">S</button>
                <button class="btn-cal-b">S</button>
                <button class="btn-cal-b">D</button>
            </div>

<!--        usar toogle e highlight jquery-->
            
        </div> <!-- fim do container-->

<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <a class="btn btn-blue btn-lg btn-block" style="margin-bottom:1px" href="home.html"> Salvar</a>
        </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    
    </body>
  </html>