<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>V&V Home</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    
    </head>
    
    <body style="background-color:#3BAFDA">
      
<!--logo -->
             
            <div class="col-xs-12">                    
                <a><object data="VaiVem_logo.svg" type="image/svg+xml">
                <img src="../img/VaiVem_logo.svg" class="splash"></img>
                </object></a>  
                <h3 style="text-align:center">Automatize conexões geográficas!</h3>
            </div>
      
    

<!-- footer -->
        <div class="footer navbar-fixed-bottom">
            <a class="btn btn-blue btn-lg btn-block" href="home.html">Iniciar</a>
        </div>

        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="../js/bootstrap.min.js"></script>
    
    </body>
  </html>